In [24]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.1)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)

In [25]:
import pyspark
from pyspark import SparkContext as sc

### Tạo `SparkSession`

In [26]:
from pyspark.sql import SparkSession

In [27]:
spark1 = SparkSession.builder.appName('Basics').getOrCreate()


### Đọc file Json

In [28]:
df = spark1.read.json('people.json')

#### Chỉ biểu diễn dưới dạng cột

In [29]:
df

DataFrame[age: bigint, name: string]

#### show() dùng để hiển thị

In [30]:
df.show()

+----+-----+
| age| name|
+----+-----+
|null|tommy|
|  30| Long|
|  19| Truc|
+----+-----+

### The data schema
Dùng để hiển thị schema của data . Nó chấp nhận cả trường hợp null

In [31]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

#### Lấy tên cột dưới dạng list bằng columns

In [32]:
df.columns

['age', 'name']

### The `describe` and `summary` methods
trả về tóm tắt, thống kê của dataframe

In [33]:
df.describe()

DataFrame[summary: string, age: string, name: string]

gọi show lần nữa

In [34]:
df.describe().show()

+-------+------------------+-----+
|summary|               age| name|
+-------+------------------+-----+
|  count|                 2|    3|
|   mean|              24.5| null|
| stddev|7.7781745930520225| null|
|    min|                19| Long|
|    max|                30|tommy|
+-------+------------------+-----+

#### sumary()

In [35]:
df.summary().show()

+-------+------------------+-----+
|summary|               age| name|
+-------+------------------+-----+
|  count|                 2|    3|
|   mean|              24.5| null|
| stddev|7.7781745930520225| null|
|    min|                19| Long|
|    25%|                19| null|
|    50%|                19| null|
|    75%|                30| null|
|    max|                30|tommy|
+-------+------------------+-----+

### The `take` and `collect` methods to read/collect rows

Các phương thức này trả về một số hoặc tất cả các hàng dưới dạng list

In [36]:
df.take(2)

[Row(age=None, name='tommy'), Row(age=30, name='Long')]

In [37]:
df.collect()

[Row(age=None, name='tommy'),
 Row(age=30, name='Long'),
 Row(age=19, name='Truc')]

###Xác định lược đồ dữ liệu của riêng bạn
Nhập các kiểu dữ liệu và kiểu cấu trúc để tự xây dựng lược đồ dữ liệu

In [38]:
from pyspark.sql.types import StructField, IntegerType, StringType, StructType

Xác định lược đồ dữ liệu của bạn bằng cách cung cấp tên và kiểu dữ liệu cho structure fields mà bạn sẽ nhập. Nó sẽ là một Python list đơn giản gồm các đối tượng `StructField`. Bạn phải sử dụng các kiểu dữ liệu Spark như `IntegerType` và` StringType`.

In [39]:
data_schema = [StructField('age',IntegerType(),True),
StructField('name',StringType(),True)]

tạo 1 đối tượng `StrucType`  gọi `final_struc` với schema as field

In [40]:
final_struc = StructType(fields=data_schema)

đọc JSON với new schema `final_struc`

In [41]:
df = spark1.read.json('people.json',schema=final_struc)
df.show()

+----+-----+
| age| name|
+----+-----+
|null|tommy|
|  30| Long|
|  19| Truc|
+----+-----+

Bây giờ khi bạn print the shema, ** bạn sẽ thấy rằng `age` được đọc là` int` chứ không phải là `long` **. Theo mặc định, Spark không thể tìm ra kiểu dữ liệu chính xác cho column này mà bạn muốn, vì vậy nó đi kèm với `long`. Nhưng đây là cách bạn có thể xây dựng lược đồ của riêng mình và hướng dẫn Spark đọc dữ liệu liên tục.